@charset "UTF-8";
/*Reseteo CSS para subsanar las diferencias de márgenes del navegador*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: rgba(218, 192, 77, 0.534);
}

body {
  background-color: white;
}

/*Seccion del Header*/
header {
  height: 10vh;
  text-align: center;
  font-weight: bolder;
  font-family: inherit;
  flex-wrap: wrap;
  background-image: url("../assets/img/portada.jpg");
}
header .nav {
  border-bottom: 2px solid #724e2a;
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  /*animaciones*/
  animation-name: animacion_nav;
  animation-duration: 4s;
  animation-delay: 0s;
}
header .nav__logo {
  width: 80px;
  height: 80px;
  background: none;
  padding-left: 20px;
}
header .nav__img {
  height: 100%;
}
header .nav__links {
  display: flex;
  padding-right: 20px;
  color: #a35316;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  animation-name: animacion_navlinks;
  animation-duration: 4s;
  animation-delay: 0s;
  flex-grow: 0;
  /*transiciones*/
  transition-property: font size;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
header .nav__links:hover {
  font-size: 17px;
}
@media screen and (max-width: 768px) {
  header .nav__links {
    display: flex;
    color: #a35316;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 9px;
  }
  header .nav__links:hover {
    font-size: 11px;
    transition-duration: 0.3s;
  }
}
@keyframes animacion_nav {
  25% {
    background-color: rgba(217, 169, 122, 0.78);
  }
  50% {
    background-color: rgba(218, 192, 77, 0.534);
  }
  75% {
    background-color: rgba(248, 245, 245, 0.801);
  }
}
@keyframes animacion_navlinks {
  25% {
    color: #4b2100;
  }
  50% {
    color: #740303;
  }
  75% {
    color: #1f1002;
  }
}
header .nav__links--color {
  font-weight: bold;
  color: #4b2100;
}

/*Fin Sección Header*/
/*Maps*/
/*extends*/
.destacados .destacados__agregarCarrito, .destacados .destacados__precio, .destacados .destacados__nombre, .destacados .destacados__articulo3, .destacados .destacados__articulo2, .destacados .destacados__articulo1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*Seccion Portada*/
.portada {
  position: relative;
  text-align: center;
  background-color: rgba(248, 245, 245, 0.801);
}
.portada .portada__img {
  width: 100%;
  height: 90vh;
}
@media screen and (max-width: 768px) {
  .portada .portada__img {
    height: 30vh;
  }
}
.portada .portada__boton {
  position: absolute;
  bottom: 10px;
  right: 130px;
  width: 180px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 10px;
  text-decoration: none;
  color: #4b2100;
  background-color: #d9a97a;
  /*transiciones*/
  transition-property: font size, background-color;
  transition-duration: 0.8s;
  transition-timing-function: linear;
}
.portada .portada__boton:hover {
  color: #f5d4b4;
  background-color: rgba(153, 71, 9, 0.89);
}
@media screen and (max-width: 768px) {
  .portada .portada__boton {
    font-size: 16px;
    width: 100px;
  }
}
.portada .portada__boton .portada__boton--catalogo {
  background-color: rgba(255, 255, 255, 0.36);
  right: -70px;
}
.portada .portada__boton .portada__boton--catalogo:hover {
  color: #f5d4b4;
  background-color: rgba(153, 71, 9, 0.89);
}
@media screen and (max-width: 768px) {
  .portada .portada__boton .portada__boton--catalogo {
    font-size: 16px;
    width: 100px;
  }
}

/*Seccion Destacados*/
.destacados {
  display: grid;
  grid-template-areas: "destacados__titulo destacados__titulo destacados__titulo" "destacados__articulo1 destacados__articulo2 destacados__articulo3";
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 8vh 75%;
  grid-column-gap: 4vw;
  justify-items: center;
  font-weight: bolder;
  font-style: italic;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.801);
}
@media screen and (min-width: 768px) {
  .destacados {
    grid-template-areas: "destacados__titulo" "destacados__articulo1 destacados__articulo2" "destacdos__articulo3";
  }
}
@media screen and (min-width: 1200px) {
  .destacados {
    grid-template-areas: "destacados__articulo1 destacados__articulo2 destacados__articulo3" "destacados__titulo";
  }
}
.destacados .destacados__titulo {
  grid-area: destacados__titulo;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #4b2100;
}
.destacados .destacados__articulo1 {
  grid-area: destacados__articulo1;
  background-color: #f1d297;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .destacados .destacados__articulo1 {
    margin-top: 20px;
  }
}
.destacados .destacados__articulo2 {
  grid-area: destacados__articulo2;
  background-color: #f1d297;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .destacados .destacados__articulo2 {
    margin-top: 20px;
  }
}
.destacados .destacados__articulo3 {
  grid-area: destacados__articulo3;
  background-color: #f1d297;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .destacados .destacados__articulo3 {
    margin-top: 20px;
  }
}
.destacados .destacados__img {
  width: 100%;
  height: 20vw;
  margin-top: 2px;
}
@media screen and (max-width: 768px) {
  .destacados .destacados__nombre {
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  .destacados .destacados__precio {
    font-size: 8px;
  }
}
.destacados .destacados__agregarCarrito {
  border-radius: 4px;
  background-color: rgba(148, 66, 4, 0.788);
  border-color: rgba(148, 66, 4, 0.788);
}
@media screen and (max-width: 768px) {
  .destacados .destacados__agregarCarrito {
    font-size: 6px;
  }
}
.destacados .destacados__agregarCarrito:hover {
  color: #241100;
  background-color: rgba(255, 138, 4, 0.925);
}

.seccionConLogosYTextos {
  width: 100%;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.801);
}

/*Seccion Catalogo-Productos*/
#catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-weight: bolder;
  font-style: italic;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.801);
}
#catalogo .catalogo__articulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 420px;
  height: 420px;
}
@media screen and (max-width: 768px) {
  #catalogo .catalogo__articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
  }
}
#catalogo .catalogo__articulo .catalogo__img {
  width: 80%;
  height: 90%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
#catalogo .catalogo__articulo .catalogo__nombre {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 300px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-style: none;
  color: white;
  font-size: 20px;
  /*transiciones*/
  transition-property: font size, background-color;
  transition-duration: 0.8s;
  transition-timing-function: linear;
}
#catalogo .catalogo__articulo .catalogo__nombre:hover {
  font-size: 24px;
  color: #4b2100;
  background-color: #f5d4b4;
  border-radius: 10px;
}

/*Seccion Quienes Somos*/
/*Line Height Seccion Sobre Nosotros*/
p {
  line-height: 1.6;
}

#quieneSomos {
  display: grid;
  grid-template-areas: "quieneSomos__titulo quieneSomos__titulo" "quieneSomos__texto quieneSomos__texto" "quieneSomos__mapa quieneSomos__mapa";
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 8vh 30% 40%;
  grid-column-gap: 4vw;
  justify-items: center;
  text-align: center;
  background-color: #f1d297;
}
@media screen and (min-width: 768px) {
  #quieneSomos {
    grid-template-areas: "quieneSomos__titulo quieneSomos__titulo" "quieneSomos__texto quieneSomos__mapa";
    grid-template-rows: 8vh 90%;
    grid-template-columns: 40vw 56vw;
  }
}
#quieneSomos .quieneSomos__titulo {
  grid-area: quieneSomos__titulo;
  color: #4b2100;
  text-align: center;
}
#quieneSomos .quieneSomos__texto {
  grid-area: quieneSomos__texto;
  font-style: italic;
  width: 80%;
}
@media screen and (min-width: 768px) {
  #quieneSomos .quieneSomos__texto {
    width: 400px;
    padding-top: 15px;
    font-size: 26px;
  }
}
#quieneSomos .quieneSomos__mapa {
  grid-area: quieneSomos__mapa;
  height: 100%;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  #quieneSomos .quieneSomos__mapa {
    width: 600px;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.video {
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.801);
}
.video .video__gif {
  width: 100%;
  height: 400px;
}

/*Footer*/
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(117, 65, 25, 0.69);
}
.ft-main .ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.foo__logo {
  float: left;
  padding-left: 30px;
  height: 80px;
  background: none;
}

.foo__img {
  height: 100%;
}

.foo__links {
  display: block;
  float: left;
  padding-left: 20px;
  color: #4b2100;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.ft-social {
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50%;
  background: #74390b;
  justify-items: center;
  justify-content: space-between;
}

.ft-newsletter {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

.ft-enviar {
  background-color: #965103;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #754119;
  color: #ddd2d2;
}

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly;
  }
}
/* Reseteo */
:root {
  --white: #ffffff;
  --red: #e31b23;
  --bodyColor: #fafffa;
  --borderFormEls: rgba(26, 12, 3, 0.938);
  --bgFormEls: rgba(148, 66, 4, 0.788);
  --bgFormElsFocus: rgba(148, 66, 4, 0.938);
}

/*Seccion Contactos*/
button {
  font-family: inherit;
  font-size: 100%;
}

label {
  cursor: pointer;
}

select {
  appearance: none;
}
select ::-ms-expand {
  display: none;
}
select :-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 1.5rem;
  padding-bottom: 10px;
  background-color: #d39d68;
  border-radius: 30px;
}

/* Formato de Elementos */
/* CHECKBOX */
.my-form h1 {
  margin-bottom: 1.5rem;
  color: #522c06;
  font-style: italic;
}
.my-form li {
  margin-bottom: 1.5rem;
}
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.my-form select {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  border-radius: 10px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}
.my-form select:focus {
  background: var(--bgFormElsFocus);
  transform: scale(1.02);
}
.my-form input {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  border-radius: 8px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.my-form input:focus {
  background: var(--bgFormElsFocus);
  transform: scale(1.02);
}
.my-form textarea {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  border-radius: 10px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  height: 170px;
}
.my-form textarea:focus {
  background: var(--bgFormElsFocus);
  transform: scale(1.02);
}
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  border-radius: 25px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  font-weight: bold;
}
.my-form button:enabled:hover {
  background: var(--bgFormElsFocus);
}
.my-form button:enabled:hover .back {
  transform: translate(-50%, -50%);
}
.my-form button:enabled:hover .front {
  transform: translateX(110%);
}
.my-form button:focus {
  background: var(--bgFormElsFocus);
}
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}
.my-form button:focus .front {
  transform: translateX(110%);
}
.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}
.my-form::placeholder {
  color: inherit;
  opacity: 1;
}
.my-form input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.my-form input[type=checkbox]:focus + label {
  background: var(--bgFormElsFocus);
}
.my-form input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.my-form input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(148, 66, 4, 0.788);
}
.my-form input[type=checkbox] + label::after {
  content: "";
  position: absolute;
}
.my-form input[type=checkbox]:checked + label::before {
  background: rgba(85, 40, 5, 0.863);
}
.my-form input[type=checkbox]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}
.my-form *:required {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
}
.my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left/15px 15px;
  padding-left: 20px;
}
.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }
  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }
  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .my-form .required-msg {
    display: block;
  }
}
@media screen and (min-width: 541px) {
  .my-form input[type=checkbox] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }
  .my-form input[type=checkbox]:checked + label::after {
    top: 3px;
  }
}
/*Termina Seccion Contactos*/
/*Paginas Secundarias*/
.lineaSuperior {
  display: inline-block;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  font-weight: bolder;
  font-style: italic;
  background-color: rgba(217, 169, 122, 0.78);
}
@media screen and (max-width: 768px) {
  .lineaSuperior {
    height: 75px;
    background-color: rgba(217, 169, 122, 0.78);
  }
}
.lineaSuperior .lineaSuperior__titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  padding-left: 20px;
  justify-items: center;
  padding-bottom: -5px;
  color: #4b2100;
}
.lineaSuperior .lineaSuperior__filtrar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: right;
  padding-right: 20px;
  color: #4b2100;
}
@media screen and (max-width: 768px) {
  .lineaSuperior .lineaSuperior__filtrar {
    font-size: 8px;
    padding-left: 2px;
  }
}
@media screen and (max-width: 768px) {
  .lineaSuperior .lineaSuperior__filtrar {
    font-size: 10px;
    padding-right: 2px;
  }
}

/*Catalogo de Paginas Secundarias*/
.productosDePaginas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-weight: bolder;
  font-style: italic;
  font-weight: bolder;
  font-style: italic;
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.801);
}
.productosDePaginas .productosDePaginas__articulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 100px;
}
.productosDePaginas .productosDePaginas__img {
  width: 80%;
  height: 80%;
  max-width: 100%;
  max-height: 100%;
}
.productosDePaginas .productosDePaginas__nombre {
  text-align: center;
  align-items: center;
}
.productosDePaginas .productosDePaginas__precio {
  text-align: center;
  align-items: center;
}
.productosDePaginas .productosDePaginas__agregarCarrito {
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(148, 66, 4, 0.788);
  border-color: rgba(148, 66, 4, 0.788);
}

/*Pie de Pagina Caravanas*/
.pieDeCaravanas {
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.801);
}
.pieDeCaravanas .pieDeCaravanas__foto {
  width: 100%;
  height: 400px;
}

/*Pie de Pagina Collares*/
.pieDeCollares {
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.801);
}
.pieDeCollares .pieDeCollares__foto {
  width: 100%;
  height: 400px;
}

/*# sourceMappingURL=main.css.map */
