/*Reseteo CSS para subsanar las diferencias de márgenes del navegador*/
*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: rgba(218, 192, 77, 0.534);
}

body{
    background-color: white;
}

@import "components/header";
@import "base/maps";
@import "base/extends";
@import "base/mixins";

/*Seccion Portada*/
.portada{
    position: relative;
    text-align: center;
    background-color: rgba(248, 245, 245, 0.801);
    
    .portada__img{
        @include tamaño(100%, 90vh);

        @media screen and (max-width:768px) {
            height: 30vh;
        }
    }
    
    .portada__boton{
        position: absolute;
        bottom: 10px;
        right: 130px;
        width: 180px;
        font-size: 22px;
        font-weight:bolder;
        border-radius: 10px;
        text-decoration: none;
        color: rgba(75, 33, 0, 1);
        background-color: map-get($botonPortada, nosotros);
        /*transiciones*/
        transition-property: font size, background-color;
        transition-duration: 0.8s;
        transition-timing-function: linear;
        
        &:hover{
            color: rgb(245, 212, 180);
            background-color: rgba(153, 71, 9, 0.89);
        }

        @media screen and (max-width:768px) {
            font-size: 16px;
            width: 100px;
        }
        
        .portada__boton--catalogo{
            background-color: map-get($botonPortada, catalogo);
            right: -70px;
            
            &:hover{
                color: rgb(245, 212, 180);
                background-color: rgba(153, 71, 9, 0.89);
            }
            
            @media screen and (max-width:768px) {
                font-size: 16px;
                width: 100px;
            }
        }
    }
}


/*Seccion Destacados*/
.destacados{
    display:grid;
    grid-template-areas: 
    "destacados__titulo destacados__titulo destacados__titulo"
    "destacados__articulo1 destacados__articulo2 destacados__articulo3";
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 8vh 75%;
    grid-column-gap: 4vw;
    justify-items: center;
    font-weight: bolder;
    font-style: italic;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);

    @media screen and (min-width:768px) {
        grid-template-areas: 
        "destacados__titulo"
        "destacados__articulo1 destacados__articulo2"
        "destacdos__articulo3"
        ;
    }

    @media screen and (min-width:1200px) {
        grid-template-areas: 
        "destacados__articulo1 destacados__articulo2 destacados__articulo3"
        "destacados__titulo"
        ;
    }
    
    .destacados__titulo{
        grid-area: destacados__titulo;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: rgba(75, 33, 0, 1);
    }
    
    .destacados__articulo1{
        grid-area: destacados__articulo1;
        background-color: rgb(241, 210, 151);
        @extend %center;
    }
    .destacados__articulo2{
        grid-area: destacados__articulo2;
        background-color: rgb(241, 210, 151);
        @extend %center;
    }
    .destacados__articulo3{
        grid-area: destacados__articulo3;
        background-color: rgb(241, 210, 151);
        @extend %center;
    }
    
    .destacados__img{
        @include tamaño(100%, 20vw);
        margin-top: 2px
    }
    
    .destacados__nombre{
        @extend %center;
        
        @media screen and (max-width: 768px) {
            font-size: 8px;   
        }
    }

    .destacados__precio{
        @extend %center;
    
        @media screen and (max-width: 768px) {
            font-size: 8px;
        }   
    }
    
    .destacados__agregarCarrito{
        @extend %center;
        border-radius: 4px;
        background-color: rgba(148, 66, 4, 0.788);
        border-color: rgba(148, 66, 4, 0.788);
        
        @media screen and (max-width: 768px) {
            font-size: 6px;
        }

        &:hover{
            color: rgb(36, 17, 0);
            background-color: rgba(255, 138, 4, 0.925);
        }
    }
}

.seccionConLogosYTextos{
    width: 100%;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);
}

/*Seccion Catalogo-Productos*/
#catalogo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    
    .catalogo__articulo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        @include tamaño(420px, 420px);

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            @include tamaño(400px, 400px);
            max-width: 100%;
            max-height: 100%;
        }
        
        .catalogo__img{
            @include tamaño(80%, 90%);
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
        
        .catalogo__nombre{
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 300px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            font-style: none;
            color: white;
            font-size: 20px;
            /*transiciones*/
            transition-property: font size, background-color;
            transition-duration: 0.8s;
            transition-timing-function: linear;
            
            &:hover{
                font-size: 24px;
                color: rgba(75, 33, 0, 1);
                background-color: rgb(245, 212, 180);
                border-radius: 10px;
            }
        }
    }
}


/*Seccion Quienes Somos*/

/*Line Height Seccion Sobre Nosotros*/
p{
    line-height: 1.6;
}

#quieneSomos{
    display: grid;
    grid-template-areas: 
    "quieneSomos__titulo quieneSomos__titulo"
    "quieneSomos__texto quieneSomos__texto"
    "quieneSomos__mapa quieneSomos__mapa";
    grid-template-columns: 48vw 48vw;
    grid-template-rows: 8vh 30% 40%;
    grid-column-gap: 4vw;
    justify-items: center;
    text-align: center;
    background-color: rgb(241, 210, 151);

    @media screen and (min-width:768px) {
        grid-template-areas: 
        "quieneSomos__titulo quieneSomos__titulo"
        "quieneSomos__texto quieneSomos__mapa";
        grid-template-rows: 8vh 90%;
        grid-template-columns: 40vw 56vw;
    }
    
    .quieneSomos__titulo{
        grid-area: quieneSomos__titulo;
        color: rgba(75, 33, 0, 1);
        text-align: center;
    }
    
    .quieneSomos__texto{
        grid-area: quieneSomos__texto;
        font-style: italic;
        width: 80%;
        
        @media screen and (min-width: 768px) {
            width: 400px;
            padding-top: 15px;
            font-size: 26px;
        }
    }

    .quieneSomos__mapa{
        grid-area: quieneSomos__mapa;
        height: 100%;
        width: 90%;
        padding-top: 30px;
        padding-bottom: 0px;

        @media screen and (min-width: 768px) {
            width: 600px;
            height: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}


.video{
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.801);

    .video__gif{
        @include tamaño(100%, 400px);
    }
}

@import "components/footer";

@import "components/secondarypages"
