/*Reseteo CSS para subsanar las diferencias de márgenes del navegador*/
*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: rgba(218, 192, 77, 0.534);
}

body{
    background-color: white;
}

@import "components/header";


/*Seccion Portada*/
.portada{
    position: relative;
    text-align: center;
    background-color: rgba(248, 245, 245, 0.801);
    
    .portada__img{
        height: 90vh;
        width: 100%;

        @media screen and (max-width:768px) {
            height: 30vh;
        }
    }
    
    .portada__boton{
        position: absolute;
        bottom: 10px;
        right: 130px;
        width: 180px;
        font-size: 22px;
        font-weight:bolder;
        border-radius: 10px;
        text-decoration: none;
        color: rgba(75, 33, 0, 1);
        background-color: rgb(217, 169, 122);
        /*transiciones*/
        transition-property: font size, background-color;
        transition-duration: 0.8s;
        transition-timing-function: linear;
        
        &:hover{
            color: rgb(245, 212, 180);
            background-color: rgba(153, 71, 9, 0.89);
        }

        @media screen and (max-width:768px) {
            font-size: 16px;
            width: 100px;
        }
        
        .portada__boton--catalogo{
            background-color: rgba(255, 255, 255, 0.36);
            right: -70px;
            
            &:hover{
                color: rgb(245, 212, 180);
                background-color: rgba(153, 71, 9, 0.89);
            }
            
            @media screen and (max-width:768px) {
                font-size: 16px;
                width: 100px;
            }
        }
    }
}


/*Seccion Destacados*/
.destacados{
    display:grid;
    grid-template-areas: 
    "destacados__titulo destacados__titulo destacados__titulo"
    "destacados__articulo1 destacados__articulo2 destacados__articulo3";
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 8vh 60%;
    grid-column-gap: 4vw;
    justify-items: center;
    font-weight: bolder;
    font-style: italic;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);

    @media screen and (min-width:768px) {
        grid-template-areas: 
        "destacados__titulo"
        "destacados__articulo1 destacados__articulo2"
        "destacdos__articulo3"
        ;
    }

    @media screen and (min-width:1200px) {
        grid-template-areas: 
        "destacados__articulo1 destacados__articulo2 destacados__articulo3"
        "destacados__titulo"
        ;
    }
    
    .destacados__titulo{
        grid-area: destacados__titulo;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: rgba(75, 33, 0, 1);
    }
    
    .destacados__articulo1{
        grid-area: destacados__articulo1;
        align-items: center;
    }
    .destacados__articulo2{
        grid-area: destacados__articulo2;
        align-items: center;
    }
    .destacados__articulo3{
        grid-area: destacados__articulo3;
        align-items: center;
    }
    
    .destacados__img{
        height: 20vw;
        width: 100%;
    }
    
    .destacados__nombre{
        text-align: center;
        align-items: center;
        
        @media screen and (max-width: 768px) {
            font-size: 8px;   
        }
    }

    .destacados__precio{
        text-align: center;
        align-items: center;
        
        @media screen and (max-width: 768px) {
            font-size: 8px;
        }   
    }
    
    .destacados__agregarCarrito{
        align-items: center;
        text-align: center;
        border-radius: 4px;
        background-color: rgba(148, 66, 4, 0.788);
        border-color: rgba(148, 66, 4, 0.788);
        
        @media screen and (max-width: 768px) {
            font-size: 6px;
        }
    }
}

.seccionConLogosYTextos{
    width: 100%;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);
}

/*Seccion Catalogo-Productos*/
#catalogo{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    
    .catalogo__articulo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 420px;
        width: 420px;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 400px;
            width: 400px;
            max-width: 100%;
            max-height: 100%;
        }
        
        .catalogo__img{
            height: 90%;
            width: 80%;
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
        
        .catalogo__nombre{
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 300px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            font-style: none;
            color: white;
            font-size: 20px;
            /*transiciones*/
            transition-property: font size, background-color;
            transition-duration: 0.8s;
            transition-timing-function: linear;
            
            &:hover{
                font-size: 24px;
                color: rgba(75, 33, 0, 1);
                background-color: rgb(245, 212, 180);
                border-radius: 10px;
            }
        }
    }
}


/*Seccion Quienes Somos*/

/*Line Height Seccion Sobre Nosotros*/
p{
    line-height: 1.6;
}

#quieneSomos{
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.801);
    
    .quieneSomos__img{
        height: 400px;
        width: 100%;
    }
    .quieneSomos__titulo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(75, 33, 0, 1);
    }
    
    .quieneSomos__texto{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 420px;
        
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            font-size: 10px;
        }
    }
    
}


.video{
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.801);

    .video__gif{
        width: 100%;
        height: 350px;
        padding-bottom: 30px;
    }
}

/*Seccion Donde Encontrarnos*/
/*#dondeEncontrarnos{
    display:inline-block;
    justify-content: space-around;
    width: 100%;
    padding-top: 30px;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(217, 169, 122, 1);
    padding-left: 30px;
    
    .dondeEncontrarnos__titulo{
        text-decoration: none;
        text-align: center;
        align-items: center;
        color: rgba(75, 33, 0, 1);
    }
    
    .dondeEncontrarnos__locales{
        padding-top: 30px;
        justify-content: space-around;
    }
    
    .dondeEncontrarnos__mapa{
        justify-content: space-around;
        width: 600px;
        float: inline-end;
        padding-right: 50px;
        padding-bottom: 20px;
        text-decoration: none;
        color: rgba(75, 33, 0, 1);
    }
}*/

@import "components/footer";

@import "components/secondarypages"
