@import "../base/mixins";


/*Footer*/

.ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
    background-color: rgba(117, 65, 25, 0.69);

    .ft-main-item {
        padding: 1.25rem;
        min-width: 12.5rem;
    }
}

.foo__logo{
    float: left;
    padding-left: 30px;
    height: 80px;
    background: none;
}

.foo__img{
    height: 100%;
}

.foo__links{
    display: block;
    float: left;
    padding-left: 20px;
    color: rgba(75, 33, 0, 1);
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
}

.ft-social{
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50%;
    background: rgb(116, 57, 11);
    justify-items: center;
    justify-content: space-between;
}

.ft-newsletter{
    border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
}

.ft-enviar{
    background-color: #965103;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
}

.ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: rgb(117, 65, 25);
    color: rgb(221, 210, 210);
}


@media only screen and (min-width: 29.8125rem ) {
	.ft-main {
		justify-content: space-evenly;
	}
}
@media only screen and (min-width: 77.5rem ) {
	.ft-main {
		justify-content: space-evenly;
	}
}
