@import "../base/mixins";
/*Seccion del Header*/
header{
    height: 10vh;
    text-align: center;
    font-weight: bolder;
    font-family:inherit;
    flex-wrap: wrap;
    background-image: url('../assets/img/portada.jpg');
    
    .nav{
        border-bottom: 2px solid rgba(114, 78, 42);
        background-color: rgba(255, 255, 255, 0.911);
        display: flex;
        flex-wrap: nowrap;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: +1;
        /*animaciones*/
        animation-name: animacion_nav;
        animation-duration: 4s;
        animation-delay: 0s;
    }
    
    .nav__logo{
        @include tamaño(80px, 80px);
        background: none;
        padding-left: 20px;

        &:hover{
            width: 90px;
        }
    }
    
    .nav__img{
        height: 100%;
    }
    
    .nav__links{
        display: flex;
        padding-right: 20px;
        color: rgb(163, 83, 22);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        animation-name: animacion_navlinks;
        animation-duration: 4s;
        animation-delay: 0s;
        flex-grow: 0;
        /*transiciones*/
        transition-property: font size;
        transition-duration: 0.3s;
        transition-timing-function: linear;
        
        &:hover{
            font-size: 17px;
        }
        
        @media screen and (max-width:768px) {
            display: flex;
            color: rgb(163, 83, 22);
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 9px;
            
            &:hover{
                font-size: 11px;
                transition-duration: 0.3s;
            }
        }
    }
    
    @keyframes animacion_nav {
        25%{
            background-color: rgba(217, 169, 122, 0.78);
        }
        50%{
            background-color:rgba(218, 192, 77, 0.534);
        }
        75%{
            background-color: rgba(248, 245, 245, 0.801);
        }
    }
    
    
    @keyframes animacion_navlinks {
        25%{
            color: rgba(75, 33, 0, 1);
        }
        50%{
            color: rgb(116, 3, 3);
        }
        75%{
            color: rgb(31, 16, 2)
        }
        
    }
    
    .nav__links--color{
        font-weight: bold;
        color: rgba(75, 33, 0, 1);
    }
    
}


/*Fin Sección Header*/