@import "../base/mixins";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* Reseteo */
:root {
    --white: #ffffff;
    --red: #e31b23;
    --bodyColor: #fafffa;
    --borderFormEls: rgba(26, 12, 3, 0.938);
    --bgFormEls: rgba(148, 66, 4, 0.788);
    --bgFormElsFocus: rgba(148, 66, 4, 0.938);
}

/*Seccion Contactos*/
button {
    font-family: inherit;
    font-size: 100%;
}

label {
    cursor:pointer;
}

select {
    appearance: none;

    ::-ms-expand{
        display: none;
    }

    :-moz-focusring{
        color: transparent !important;
        text-shadow: 0 0 0 var(--white);
    }
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 1.5rem;
    padding-bottom: 10px;
    background-color: rgb(211, 157, 104);
    border-radius: 30px;
}

/* Formato de Elementos */
/* CHECKBOX */
.my-form {
	h1 {
		margin-bottom: 1.5rem;
        color: rgb(82, 44, 6);
        font-style: italic;
	}
	li {
		margin-bottom: 1.5rem;
	}
	.grid {
		>* {
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}
	select {
		width: 100%;
		line-height: 1.5;
		padding: 15px 10px;
		border: 1px solid var(--borderFormEls);
        border-radius:10px;
		color: var(--white);
		background: var(--bgFormEls);
		transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
		background-repeat: no-repeat;
		background-position: center right 12px;
		background-size: 15px 15px;
		background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
		&:focus {
			background: var(--bgFormElsFocus);
			transform: scale(1.02);
		}
	}
	input {
		width: 100%;
		line-height: 1.5;
		padding: 15px 10px;
		border: 1px solid var(--borderFormEls);
        border-radius: 8px;
		color: var(--white);
		background: var(--bgFormEls);
		transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
		&:focus {
			background: var(--bgFormElsFocus);
			transform: scale(1.02);
		}
	}
	textarea {
		width: 100%;
		line-height: 1.5;
		padding: 15px 10px;
		border: 1px solid var(--borderFormEls);
        border-radius: 10px;
		color: var(--white);
		background: var(--bgFormEls);
		transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
		height: 170px;
		&:focus {
			background: var(--bgFormElsFocus);
			transform: scale(1.02);
		}
	}
	button {
		width: 100%;
		line-height: 1.5;
		padding: 15px 10px;
		border: 1px solid var(--borderFormEls);
        border-radius: 25px;
		color: var(--white);
		background: var(--bgFormEls);
		transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
		font-weight: bold;
		&:enabled {
			&:hover {
				background: var(--bgFormElsFocus);
				.back {
					transform: translate(-50%, -50%);
				}
				.front {
					transform: translateX(110%);
				}
			}
		}
		&:focus {
			background: var(--bgFormElsFocus);
			.back {
				transform: translate(-50%, -50%);
			}
			.front {
				transform: translateX(110%);
			}
		}
		>* {
			display: inline-block;
			width: 100%;
			transition: transform 0.4s ease-in-out;
		}
		.back {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-110%, -50%);
		}
	}
	&::placeholder {
		color: inherit;
		opacity: 1;
	}
	input[type="checkbox"] {
		&:focus {
			+ {
				label {
					background: var(--bgFormElsFocus);
				}
			}
		}
		position: absolute;
		left: -9999px;
		+ {
			label {
				position: relative;
				display: inline-block;
				padding-left: 2rem;
				transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 6px;
					width: 18px;
					height: 18px;
					border: 2px solid rgba(148, 66, 4, 0.788);
				}
				&::after {
					content: '';
					position: absolute;
				}
			}
		}
		&:checked {
			+ {
				label {
					&::before {
						background: rgba(85, 40, 5, 0.863);
					}
					&::after {
						left: 7px;
						top: 7px;
						width: 6px;
						height: 14px;
						border-bottom: 2px solid var(--white);
						border-right: 2px solid var(--white);
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	* {
		&:required {
			background-repeat: no-repeat;
			background-position: center right 12px;
			background-size: 15px 15px;
			background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);
		}
	}
	.required-msg {
		display: none;
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left / 15px 15px;
		padding-left: 20px;
	}
	.btn-grid {
		position: relative;
		overflow: hidden;
		transition: filter 0.2s;
	}
}
@media screen and (min-width: 600px) {
	.my-form {
		.grid {
			display: grid;
			grid-gap: 1.5rem;
			>* {
				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
		}
		.grid-2 {
			grid-template-columns: 1fr 1fr;
		}
		.grid-3 {
			grid-template-columns: auto auto auto;
			align-items: center;
		}
		.required-msg {
			display: block;
		}
	}
}
@media screen and (min-width: 541px) {
	.my-form {
		input[type="checkbox"] {
			+ {
				label {
					&::before {
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			&:checked {
				+ {
					label {
						&::after {
							top: 3px;
						}
					}
				}
			}
		}
	}
}
/*Termina Seccion Contactos*/

/*Paginas Secundarias*/
.lineaSuperior{
    display:inline-block;
    justify-content: center;
    justify-items: center;
    @include tamaño(100%, 60px);
    margin-top: 20px;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(217, 169, 122, 0.78);
    
    @media screen and (max-width:768px) {
        height: 75px;
        background-color: rgba(217, 169, 122, 0.78);
    }
    
    .lineaSuperior__titulo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: italic;
        text-align: left;
        padding-left: 20px;
        justify-items: center;
        padding-bottom: -5px;
        color: rgba(75, 33, 0, 1);

		@media screen and (min-width:768px) {
			font-size: 20px;
		}
    }
    
    .lineaSuperior__filtrar{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-style: italic;
        text-align: right;
        padding-right: 20px;
        color: rgba(75, 33, 0, 1);
    
        @media screen and (max-width:768px) {
            font-size: 8px;
            padding-left: 2px;
        }
        
        @media screen and (max-width:768px) {
            font-size: 10px;
            padding-right: 2px;
        }
    }
}


/*Catalogo de Paginas Secundarias*/
.productosDePaginas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    font-weight: bolder;
    font-style: italic;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.801);
    
    .productosDePaginas__articulo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        @include tamaño(400px, 400px);
        margin-top: 100px;
    }
    
    .productosDePaginas__img{
        @include tamaño(80%, 80%);
        max-width: 100%;
        max-height: 100%;
    }
    
    .productosDePaginas__nombre{
        text-align: center;
        align-items: center;
    }
    
    .productosDePaginas__precio{
        text-align: center;
        align-items: center;
    }
    
    .productosDePaginas__agregarCarrito{
        align-items: center;
        text-align: center;
        border-radius: 4px;
        background-color: rgba(148, 66, 4, 0.788);
        border-color: rgba(148, 66, 4, 0.788);
    }
}


/*Pie de Pagina Caravanas*/
.pieDeCaravanas{
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.801);
    
    .pieDeCaravanas__foto{
        @include tamaño(100%, 400px);
    }
}


/*Pie de Pagina Collares*/
.pieDeCollares{
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.801);
    
    .pieDeCollares__foto{
        @include tamaño(100%, 400px);
    }
}
